* text=auto !eol
Game/Code/Classes/TextGL.pas -text
Game/Code/Classes/UCatCovers.pas -text
Game/Code/Classes/UCovers.pas -text
Game/Code/Classes/UDLLManager.pas -text
Game/Code/Classes/UDraw.pas -text
Game/Code/Classes/UFiles.pas -text
Game/Code/Classes/UGraphic.pas -text
Game/Code/Classes/UGraphicClasses.pas -text
Game/Code/Classes/UIni.pas -text
Game/Code/Classes/UJoystick.pas -text
Game/Code/Classes/ULCD.pas -text
Game/Code/Classes/ULanguage.pas -text
Game/Code/Classes/ULight.pas -text
Game/Code/Classes/ULog.pas -text
Game/Code/Classes/ULyrics.pas -text
Game/Code/Classes/UMain.pas -text
Game/Code/Classes/UMusic.pas -text
Game/Code/Classes/UParty.pas -text
Game/Code/Classes/UPliki.pas -text
Game/Code/Classes/URecord.pas -text
Game/Code/Classes/UScores.pas -text
Game/Code/Classes/USkins.pas -text
Game/Code/Classes/USongs.pas -text
Game/Code/Classes/UTexture.pas -text
Game/Code/Classes/UThemes.pas -text
Game/Code/Classes/UTime.pas -text
Game/Code/Menu/UDisplay.pas -text
Game/Code/Menu/UDrawTexture.pas -text
Game/Code/Menu/UMenu.pas -text
Game/Code/Menu/UMenuButton.pas -text
Game/Code/Menu/UMenuInteract.pas -text
Game/Code/Menu/UMenuSelect.pas -text
Game/Code/Menu/UMenuSelectSlide.pas -text
Game/Code/Menu/UMenuStatic.pas -text
Game/Code/Menu/UMenuText.pas -text
Game/Code/SMpeg/USmpeg.alt.pas -text
Game/Code/SMpeg/USmpeg.dcu -text
Game/Code/SMpeg/USmpeg.pas -text
Game/Code/Screens/UScreenEdit.dcu -text
Game/Code/Screens/UScreenEdit.pas -text
Game/Code/Screens/UScreenEditConvert.dcu -text
Game/Code/Screens/UScreenEditConvert.pas -text
Game/Code/Screens/UScreenEditHeader.dcu -text
Game/Code/Screens/UScreenEditHeader.pas -text
Game/Code/Screens/UScreenEditSub.dcu -text
Game/Code/Screens/UScreenEditSub.pas -text
Game/Code/Screens/UScreenLevel.dcu -text
Game/Code/Screens/UScreenLevel.pas -text
Game/Code/Screens/UScreenLoading.dcu -text
Game/Code/Screens/UScreenLoading.pas -text
Game/Code/Screens/UScreenMain.dcu -text
Game/Code/Screens/UScreenMain.pas -text
Game/Code/Screens/UScreenName.dcu -text
Game/Code/Screens/UScreenName.pas -text
Game/Code/Screens/UScreenOpen.dcu -text
Game/Code/Screens/UScreenOpen.pas -text
Game/Code/Screens/UScreenOptions.dcu -text
Game/Code/Screens/UScreenOptions.pas -text
Game/Code/Screens/UScreenOptionsGame.dcu -text
Game/Code/Screens/UScreenOptionsGame.pas -text
Game/Code/Screens/UScreenOptionsGraphics.dcu -text
Game/Code/Screens/UScreenOptionsGraphics.pas -text
Game/Code/Screens/UScreenOptionsLyrics.dcu -text
Game/Code/Screens/UScreenOptionsLyrics.pas -text
Game/Code/Screens/UScreenOptionsRecord.dcu -text
Game/Code/Screens/UScreenOptionsRecord.pas -text
Game/Code/Screens/UScreenOptionsSound.dcu -text
Game/Code/Screens/UScreenOptionsSound.pas -text
Game/Code/Screens/UScreenOptionsThemes.dcu -text
Game/Code/Screens/UScreenOptionsThemes.pas -text
Game/Code/Screens/UScreenPartyNewRound.dcu -text
Game/Code/Screens/UScreenPartyNewRound.pas -text
Game/Code/Screens/UScreenPartyOptions.dcu -text
Game/Code/Screens/UScreenPartyOptions.pas -text
Game/Code/Screens/UScreenPartyPlayer.dcu -text
Game/Code/Screens/UScreenPartyPlayer.pas -text
Game/Code/Screens/UScreenPartyScore.dcu -text
Game/Code/Screens/UScreenPartyScore.pas -text
Game/Code/Screens/UScreenPartyWin.dcu -text
Game/Code/Screens/UScreenPartyWin.pas -text
Game/Code/Screens/UScreenScore.dcu -text
Game/Code/Screens/UScreenScore.pas -text
Game/Code/Screens/UScreenSing.dcu -text
Game/Code/Screens/UScreenSing.pas -text
Game/Code/Screens/UScreenSingModi.dcu -text
Game/Code/Screens/UScreenSingModi.pas -text
Game/Code/Screens/UScreenSong.dcu -text
Game/Code/Screens/UScreenSong.pas -text
Game/Code/Screens/UScreenSongMenu.dcu -text
Game/Code/Screens/UScreenSongMenu.pas -text
Game/Code/Screens/UScreenTop5.dcu -text
Game/Code/Screens/UScreenTop5.pas -text
Game/Code/Screens/UScreenWelcome.dcu -text
Game/Code/Screens/UScreenWelcome.pas -text
Game/Code/UltraStar.dpr -text
Game/Code/UltraStar.rc -text
Game/Code/rccompillieren.bat -text
Game/Fonts/512x512[!!-~]Normal.dat -text
Game/Fonts/Backup/Bold/Font[!!-~]1024[!!-~]Bold[!!-~]16.bmp -text
Game/Fonts/Backup/Bold/Font[!!-~]1024[!!-~]Bold.dat -text
Game/Fonts/Backup/Bold/Thumbs.db -text
Game/Fonts/Backup/Normal/Font[!!-~]Normal[!!-~]16.bmp -text
Game/Fonts/Backup/Normal/Font[!!-~]Normal.dat -text
Game/Fonts/Backup/Normal/Thumbs.db -text
Game/Fonts/Backup/Outline[!!-~]1/Outline[!!-~]36[!!-~](1024)[!!-~]16c.bmp -text
Game/Fonts/Backup/Outline[!!-~]1/Outline[!!-~]36[!!-~](1024).dat -text
Game/Fonts/Backup/Outline[!!-~]1/Thumbs.db -text
Game/Fonts/Backup/Outline[!!-~]2/5[!!-~]-[!!-~]Outline[!!-~]dark[!!-~]edited[!!-~]16c.bmp -text
Game/Fonts/Backup/Outline[!!-~]2/Outline.dat -text
Game/Fonts/Backup/Outline[!!-~]2/Thumbs.db -text
Game/Fonts/Bold/Font[!!-~]1024[!!-~]Bold[!!-~]16.bmp -text
Game/Fonts/Bold/Font[!!-~]1024[!!-~]Bold[!!-~]16.old.bmp -text
Game/Fonts/Bold/Font[!!-~]1024[!!-~]Bold.dat -text
Game/Fonts/Bold/Thumbs.db -text
Game/Fonts/Normal/Font[!!-~]Normal[!!-~]16.bmp -text
Game/Fonts/Normal/Font[!!-~]Normal[!!-~]16.old.bmp -text
Game/Fonts/Normal/Font[!!-~]Normal.dat -text
Game/Fonts/Normal/Thumbs.db -text
Game/Fonts/Outline[!!-~]1/Outline[!!-~]36[!!-~](1024)[!!-~]16c.bmp -text
Game/Fonts/Outline[!!-~]1/Outline[!!-~]36[!!-~](1024).dat -text
Game/Fonts/Outline[!!-~]1/Photoshop.psd -text
Game/Fonts/Outline[!!-~]1/Thumbs.db -text
Game/Fonts/Outline[!!-~]2/5[!!-~]-[!!-~]Outline[!!-~]dark[!!-~]edited[!!-~]16c.bmp -text
Game/Fonts/Outline[!!-~]2/Outline.dat -text
Game/Fonts/Outline[!!-~]2/Thumbs.db -text
Game/Graphics/MusicWheelItem[!!-~]song.jpg -text
Game/Graphics/Thumbs.db -text
Game/Graphics/us.ico -text
Modis/5000Points/Until5000.dpr -text
Modis/Blind/Blind.dpr -text
Modis/Don't_Get_Worse/Hold_The_Line.dpr -text
Modis/Duell/Duell.dpr -text
Modis/SDK/ModiSDK.pas -text
Modis/SDK/StrUtils.pas -text
