* text=auto !eol
/COPYRIGHT.txt -text
/ChangeLog.GERMAN.txt -text
/RELEASEBLOCKERS.txt -text
dists/code.svnprops -text
dists/delphi2005/readme.txt -text
dists/delphi2005/ultrastardx.bdsproj -text
dists/delphi7/readme.txt -text
dists/delphi7/ultrastardx.dof -text
dists/gentoo/readme.txt -text
dists/gentoo/ultrastardx-1.1_alpha.ebuild -text
dists/gentoo/ultrastardx-9999.ebuild -text
dists/lazarus/clean.bat -text
dists/lazarus/readme.txt -text
dists/lazarus/ultrastardx-unix.lpi -text
dists/lazarus/ultrastardx-win.lpi -text
dists/ultrastardx.desktop -text
dists/xcode/English.lproj/InfoPlist.strings -text
dists/xcode/English.lproj/SDLMain.nib/classes.nib -text
dists/xcode/English.lproj/SDLMain.nib/info.nib -text
dists/xcode/English.lproj/SDLMain.nib/objects.nib -text
dists/xcode/UltraStarDX.xcodeproj/eddie.mode1 -text
dists/xcode/UltraStarDX.xcodeproj/eddie.mode1v3 -text
dists/xcode/UltraStarDX.xcodeproj/eddie.pbxuser -text
dists/xcode/UltraStarDX.xcodeproj/project.pbxproj -text
doc/Makefile -text
game/covers/Covers.ini -text
game/covers/NoCover.jpg -text
game/fonts/FreeSans.ttf -text
game/fonts/FreeSansBold.ttf -text
game/fonts/Vera.ttf -text
game/fonts/VeraBd.ttf -text
game/fonts/bold/eurostar_regular_bold.dat -text
game/fonts/bold/eurostar_regular_bold.png -text
game/fonts/fonts.ini -text
game/fonts/fontsTTF.ini -text
game/fonts/normal/eurostar_regular.dat -text
game/fonts/normal/eurostar_regular.png -text
game/fonts/outline1/outline1.dat -text
game/fonts/outline1/outline1.png -text
game/fonts/outline2/outline2.dat -text
game/fonts/outline2/outline2.png -text
game/languages/Catalan.ini -text
game/languages/Croatian.ini -text
game/languages/Dutch.ini -text
game/languages/Euskara.ini -text
game/languages/Finnish.ini -text
game/languages/French.ini -text
game/languages/Greek.ini -text
game/languages/Japanese.ini -text
game/languages/Portuguese.ini -text
game/languages/Spanish.ini -text
game/languages/Swedish.ini -text
game/languages/old/Danish.ini -text
game/languages/old/French.ini -text
game/languages/old/Norwegian.ini -text
game/languages/old/Polish.ini -text
game/languages/old/Serbian.ini -text
game/languages/old/Slovak.ini -text
game/languages/old/Slovenian.ini -text
game/languages/old/readme.txt -text
game/resources/credits/credits_v5_bg.png -text
game/resources/credits/credits_v5_overlay.png -text
game/resources/credits/intro-l-01.png -text
game/resources/credits/intro-l-02.png -text
game/resources/credits/intro-l-03.png -text
game/resources/credits/intro-l-04.png -text
game/resources/credits/intro-l-05.png -text
game/resources/credits/intro-l-06.png -text
game/resources/credits/intro-l-07.png -text
game/resources/credits/intro-l-08.png -text
game/resources/credits/intro-l-09.png -text
game/resources/credits/names_blindguard.png -text
game/resources/credits/names_blindy.png -text
game/resources/credits/names_canni.png -text
game/resources/credits/names_commandio.png -text
game/resources/credits/names_lazyjoker.png -text
game/resources/credits/names_mog.png -text
game/resources/credits/names_mota.png -text
game/resources/credits/names_skillmaster.png -text
game/resources/credits/names_whiteshark.png -text
game/resources/credits/outro-bg.png -text
game/resources/credits/outro-esc.png -text
game/resources/credits/outro-exit-dark.png -text
game/resources/graphics/NoCover.jpg -text
game/resources/icons/ultrastardx-icon.png -text
game/sounds/Bebeto_-_Loop010.mp3 -text
game/sounds/Common[!!-~]back.mp3 -text
game/sounds/Common[!!-~]start.mp3 -text
game/sounds/credits-outro-tune.mp3 -text
game/sounds/dismissed.mp3 -text
game/sounds/menu[!!-~]swoosh.mp3 -text
game/sounds/option[!!-~]change[!!-~]col.mp3 -text
game/sounds/rimshot022b.mp3 -text
game/sounds/select[!!-~]music[!!-~]change[!!-~]music[!!-~]50.mp3 -text
game/sounds/select[!!-~]music[!!-~]change[!!-~]music.mp3 -text
game/sounds/wome-credits-tune.mp3 -text
game/themes/Classic/\[button\]13.jpg -text
game/themes/Classic/\[button\]alt.jpg -text
game/themes/Classic/\[button\]az.jpg -text
game/themes/Classic/\[button\]e.jpg -text
game/themes/Classic/\[button\]enter.jpg -text
game/themes/Classic/\[button\]esc.jpg -text
game/themes/Classic/\[button\]j.jpg -text
game/themes/Classic/\[button\]m.jpg -text
game/themes/Classic/\[button\]navi.jpg -text
game/themes/Classic/\[button\]p.jpg -text
game/themes/Classic/\[effect\]goldenNoteStar.jpg -text
game/themes/Classic/\[effect\]perfectNoteStar.jpg -text
game/themes/Classic/\[helper\]rectangle.jpg -text
game/themes/Classic/\[icon\]Star.jpg -text
game/themes/Classic/\[icon\]error.jpg -text
game/themes/Classic/\[icon\]question.jpg -text
game/themes/Classic/\[icon\]stats.jpg -text
game/themes/Classic/\[icon\]video.jpg -text
game/themes/Classic/\[main\]Bar.jpg -text
game/themes/Classic/\[main\]Bar1.jpg -text
game/themes/Classic/\[main\]Button.jpg -text
game/themes/Classic/\[main\]Button2.jpg -text
game/themes/Classic/\[main\]Button3.jpg -text
game/themes/Classic/\[main\]ButtonEditor.jpg -text
game/themes/Classic/\[main\]Logo.jpg -text
game/themes/Classic/\[main\]songCover.jpg -text
game/themes/Classic/\[main\]square.jpg -text
game/themes/Classic/\[mainbutton\]Exit.jpg -text
game/themes/Classic/\[mainbutton\]Multi.jpg -text
game/themes/Classic/\[mainbutton\]Options.jpg -text
game/themes/Classic/\[mainbutton\]Solo.jpg -text
game/themes/Classic/\[mainbutton\]Stats.jpg -text
game/themes/Classic/\[menu\]PopUpBg.JPG -text
game/themes/Classic/\[menu\]PopUpFg.JPG -text
game/themes/Classic/\[menu\]jumpToBg.jpg -text
game/themes/Classic/\[menu\]songMenuBg.jpg -text
game/themes/Classic/\[menu\]songMenuBorder.jpg -text
game/themes/Classic/\[menu\]songMenuButtonBG.jpg -text
game/themes/Classic/\[menu\]songMenuSelectBG.jpg -text
game/themes/Classic/\[party\]Joker.jpg -text
game/themes/Classic/\[party\]playerButton.jpg -text
game/themes/Classic/\[party\]playerTeamButton.jpg -text
game/themes/Classic/\[party\]pointer.bmp -text
game/themes/Classic/\[party\]roundBG1.jpg -text
game/themes/Classic/\[party\]roundBG2.jpg -text
game/themes/Classic/\[party\]roundBG3.jpg -text
game/themes/Classic/\[party\]roundBG4.jpg -text
game/themes/Classic/\[party\]roundTeamButton.jpg -text
game/themes/Classic/\[party\]scoreBG1.jpg -text
game/themes/Classic/\[party\]scoreBG2.jpg -text
game/themes/Classic/\[party\]scoreDecoration.jpg -text
game/themes/Classic/\[party\]teamPoints.jpg -text
game/themes/Classic/\[party\]winDecoration.jpg -text
game/themes/Classic/\[party\]winTeamButton1.jpg -text
game/themes/Classic/\[party\]winTeamButton2.jpg -text
game/themes/Classic/\[party\]winTeamButton3.jpg -text
game/themes/Classic/\[score\]box.jpg -text
game/themes/Classic/\[score\]level.jpg -text
game/themes/Classic/\[score\]levelround.jpg -text
game/themes/Classic/\[score\]line.jpg -text
game/themes/Classic/\[sing\]LyricsBall.png -text
game/themes/Classic/\[sing\]lineBonusPopUp.jpg -text
game/themes/Classic/\[sing\]lyricsHelpBar.bmp -text
game/themes/Classic/\[sing\]notesBgLeft.bmp -text
game/themes/Classic/\[sing\]notesBgMid.bmp -text
game/themes/Classic/\[sing\]notesBgRight.bmp -text
game/themes/Classic/\[sing\]notesLeft.bmp -text
game/themes/Classic/\[sing\]notesMid.bmp -text
game/themes/Classic/\[sing\]notesRight.bmp -text
game/themes/Classic/\[sing\]p.jpg -text
game/themes/Classic/\[sing\]scoreBg.jpg -text
game/themes/Classic/\[sing\]singBarBack.jpg -text
game/themes/Classic/\[sing\]singBarBar.jpg -text
game/themes/Classic/\[sing\]singBarFront.jpg -text
game/themes/Classic/\[sing\]textBar.jpg -text
game/themes/Classic/\[song\]BGFade.jpg -text
game/themes/Classic/\[song\]EqualizerBG.jpg -text
game/themes/Classic/\[song\]selection.jpg -text
game/themes/Classic/\[stat\]detailBG1.jpg -text
game/themes/Classic/\[stat\]mainBG1.jpg -text
game/themes/Classic/\[stat\]mainBG2.jpg -text
game/themes/Classic/\[stat\]mainBG3.jpg -text
game/themes/Deluxe/Ribbon.ini -text
game/themes/Deluxe/\[bg-load\]blue.jpg -text
game/themes/Deluxe/\[bg-load\]fall.jpg -text
game/themes/Deluxe/\[bg-load\]summer.jpg -text svneol=unset#unset
game/themes/Deluxe/\[bg-load\]winter.jpg -text
game/themes/Deluxe/\[bg-main\]blue.jpg -text
game/themes/Deluxe/\[bg-main\]fall.jpg -text
game/themes/Deluxe/\[bg-main\]summer.jpg -text svneol=unset#unset
game/themes/Deluxe/\[bg-main\]winter.jpg -text
game/themes/Deluxe/\[bg-video\]_ocean.avi -text
game/themes/Deluxe/\[bg-video\]ribbon.mov -text
game/themes/Deluxe/\[button\]13.png -text
game/themes/Deluxe/\[button\]alt.png -text
game/themes/Deluxe/\[button\]az.png -text
game/themes/Deluxe/\[button\]enter.png -text
game/themes/Deluxe/\[button\]esc.png -text
game/themes/Deluxe/\[button\]j.png -text
game/themes/Deluxe/\[button\]m.png -text
game/themes/Deluxe/\[button\]navi.png -text
game/themes/Deluxe/\[button\]p.png -text
game/themes/Deluxe/\[effect\]goldenNoteStar.png -text
game/themes/Deluxe/\[effect\]perfectNoteStar.png -text
game/themes/Deluxe/\[helper\]buttonFade.png -text
game/themes/Deluxe/\[helper\]rectangle.jpg -text
game/themes/Deluxe/\[icon\]cd.png -text
game/themes/Deluxe/\[icon\]error.png -text
game/themes/Deluxe/\[icon\]main.png -text
game/themes/Deluxe/\[icon\]options.png -text
game/themes/Deluxe/\[icon\]party.png -text
game/themes/Deluxe/\[icon\]question.png -text
game/themes/Deluxe/\[icon\]score.png -text
game/themes/Deluxe/\[icon\]stats.png -text
game/themes/Deluxe/\[icon\]video.png -text
game/themes/Deluxe/\[main\]button.png -text
game/themes/Deluxe/\[main\]buttonf.jpg -text
game/themes/Deluxe/\[main\]mainBar.png -text
game/themes/Deluxe/\[main\]playerNumberBox.png -text
game/themes/Deluxe/\[main\]selectbg.png -text
game/themes/Deluxe/\[main\]songCover.jpg -text svneol=unset#unset
game/themes/Deluxe/\[main\]songSelection1.png -text
game/themes/Deluxe/\[main\]songSelection2.png -text
game/themes/Deluxe/\[menu\]PopUpFg.png -text
game/themes/Deluxe/\[menu\]jumpToBg.png -text
game/themes/Deluxe/\[menu\]songMenuBg.png -text
game/themes/Deluxe/\[menu\]songMenuSelectBg.png -text
game/themes/Deluxe/\[party\]Joker.png -text
game/themes/Deluxe/\[party\]playerButton.png -text
game/themes/Deluxe/\[party\]playerTeamButton.png -text
game/themes/Deluxe/\[party\]pointer.png -text
game/themes/Deluxe/\[party\]roundBG1.png -text
game/themes/Deluxe/\[party\]roundBG2.png -text
game/themes/Deluxe/\[party\]roundBG3.png -text
game/themes/Deluxe/\[party\]roundBG4.png -text
game/themes/Deluxe/\[party\]roundTeamButton.png -text
game/themes/Deluxe/\[party\]scoreBG1.png -text
game/themes/Deluxe/\[party\]scoreBG2.png -text
game/themes/Deluxe/\[party\]scoreDecoration.png -text
game/themes/Deluxe/\[party\]teamPoints.png -text
game/themes/Deluxe/\[party\]winDecoration.png -text
game/themes/Deluxe/\[party\]winTeamButton1.png -text
game/themes/Deluxe/\[party\]winTeamButton2.png -text
game/themes/Deluxe/\[party\]winTeamButton3.png -text
game/themes/Deluxe/\[score\]Line.png -text
game/themes/Deluxe/\[score\]bar_box_dark.png -text
game/themes/Deluxe/\[score\]bar_box_light.png -text
game/themes/Deluxe/\[score\]bar_box_lightest.png -text
game/themes/Deluxe/\[score\]box.png -text
game/themes/Deluxe/\[score\]endcap.png -text
game/themes/Deluxe/\[score\]glass_box.png -text
game/themes/Deluxe/\[score\]level.png -text
game/themes/Deluxe/\[score\]levelRound.png -text
game/themes/Deluxe/\[score\]level_dark.png -text
game/themes/Deluxe/\[score\]level_dark_round.png -text
game/themes/Deluxe/\[score\]level_light.png -text
game/themes/Deluxe/\[score\]level_light_round.png -text
game/themes/Deluxe/\[score\]level_lightest.png -text
game/themes/Deluxe/\[score\]level_lightest_round.png -text
game/themes/Deluxe/\[score\]rating_0.png -text
game/themes/Deluxe/\[score\]rating_1.png -text
game/themes/Deluxe/\[score\]rating_2.png -text
game/themes/Deluxe/\[score\]rating_3.png -text
game/themes/Deluxe/\[score\]rating_4.png -text
game/themes/Deluxe/\[score\]rating_5.png -text
game/themes/Deluxe/\[score\]rating_6.png -text
game/themes/Deluxe/\[score\]rating_7.png -text
game/themes/Deluxe/\[sing.player1\]lyric_active.png -text
game/themes/Deluxe/\[sing.player1\]lyric_inactive.png -text
game/themes/Deluxe/\[sing.player2\]lyric_active.png -text
game/themes/Deluxe/\[sing.player2\]lyric_inactive.png -text
game/themes/Deluxe/\[sing.player3\]lyric_active.png -text
game/themes/Deluxe/\[sing.player3\]lyric_inactive.png -text
game/themes/Deluxe/\[sing.player4\]lyric_active.png -text
game/themes/Deluxe/\[sing.player4\]lyric_inactive.png -text
game/themes/Deluxe/\[sing.player5\]lyric_active.png -text
game/themes/Deluxe/\[sing.player5\]lyric_inactive.png -text
game/themes/Deluxe/\[sing.player6\]lyric_active.png -text
game/themes/Deluxe/\[sing.player6\]lyric_inactive.png -text
game/themes/Deluxe/\[sing\]LyricsBall.png -text
game/themes/Deluxe/\[sing\]lineBonusPopUp.png -text
game/themes/Deluxe/\[sing\]lyricsHelpBar.png -text
game/themes/Deluxe/\[sing\]notesBgLeft.png -text
game/themes/Deluxe/\[sing\]notesBgMid.png -text
game/themes/Deluxe/\[sing\]notesBgRight.png -text
game/themes/Deluxe/\[sing\]notesLeft.png -text
game/themes/Deluxe/\[sing\]notesMid.png -text
game/themes/Deluxe/\[sing\]notesPlainLeft.png -text
game/themes/Deluxe/\[sing\]notesPlainMid.png -text
game/themes/Deluxe/\[sing\]notesPlainRight.png -text
game/themes/Deluxe/\[sing\]notesRight.png -text
game/themes/Deluxe/\[sing\]p.png -text
game/themes/Deluxe/\[sing\]pause.png -text
game/themes/Deluxe/\[sing\]scoreBg.jpg -text svneol=unset#unset
game/themes/Deluxe/\[sing\]scoreBg.png -text
game/themes/Deluxe/\[sing\]singBarBack.png -text
game/themes/Deluxe/\[sing\]singBarBar.jpg -text svneol=unset#unset
game/themes/Deluxe/\[sing\]singBarBar.png -text
game/themes/Deluxe/\[sing\]singBarFront.png -text
game/themes/Deluxe/\[sing\]textBar.png -text
game/themes/Deluxe/\[sing\]timeBar.jpg -text
game/themes/Deluxe/\[sing\]timeBarBG.png -text
game/themes/Deluxe/\[special\]bar1.png -text
game/themes/Deluxe/\[special\]bar2.png -text
game/themes/Deluxe/\[special\]bg_fade.png -text
game/themes/Deluxe/\[stat\]detailBG1.png -text
game/themes/Deluxe/\[stat\]mainBG1.png -text
game/themes/Deluxe/\[stat\]mainBG2.png -text
game/themes/Deluxe/\[stat\]mainBG3.png -text
game/themes/Deluxe/icon/song_menu.png -text
game/themes/Deluxe/icon/song_search.png -text
game/themes/Deluxe/icon/song_video.png -text
game/themes/Deluxe/interface/dialog_background.png -text
game/themes/Deluxe/interface/selectbg_search.png -text
icons/readme.txt -text
icons/ultrastardx-icon.res -text
icons/ultrastardx-icon.svg -text
icons/ultrastardx-icon_32.png -text
icons/ultrastardx-icon_512.png -text
icons/ultrastardx.icns -text
icons/ultrastardx.ico -text
installer/UltraStar[!!-~]Deluxe.nsi -text
installer/Update.nsi -text
installer/languages/English.nsh -text
installer/languages/German.nsh -text
installer/settings/GameExplorer.nsh -text
installer/settings/files_main_install.nsh -text
installer/settings/files_main_uninstall.nsh -text
installer/settings/functions.nsh -text
installer/settings/settings-1031.ini -text
installer/settings/settings-1033.ini -text
installer/settings/variables.nsh -text
installerdependencies/documents/documentation.pdf -text
installerdependencies/documents/license.txt -text
installerdependencies/images/header.bmp -text
installerdependencies/images/install.ico -text
installerdependencies/images/side.bmp -text
installerdependencies/images/uninstall.ico -text
installerdependencies/plugins/NSISdl.dll -text
installerdependencies/plugins/ZipDLL.dll -text
installerdependencies/plugins/gdf.dll -text
installerdependencies/plugins/nsProcess.dll -text
plugins/Don't_Get_Worse/Hold_The_Line.bdsproj -text
plugins/Don't_Get_Worse/Hold_The_Line.lpi -text
plugins/Don't_Get_Worse/dismissed.mp3 -text
plugins/SDK/USDXStrUtils.pas -text
src/base/TextGLFreetype.pas -text
src/base/UBeatTimer.pas -text
src/base/UNote.pas -text
src/base/UPath.pas -text
src/base/UTextEncoding.pas -text
src/lib/JEDI-SDL/OpenGL-Set8087CW.patch -text
src/lib/JEDI-SDL/jedi-sdl-64bit.patch -text
src/lib/JEDI-SDL/moduleloader-libc.patch -text
src/lib/SQLite/example/Sunset.jpg -text
src/lib/SQLite/example/TestSqlite.res -text
src/lib/SQLite/example/uTestSqlite.dfm -text
src/lib/bass/bass.chm -text
src/lib/bass/delphi/bass-macosx.patch -text
src/lib/ctypes/ctypes.pas -text
src/lib/freetype/demo/engine-test.bdsproj -text
src/lib/freetype/demo/engine-test.lpi -text
src/lib/freetype/demo/nehe/lesson43.bdsproj -text
src/lib/lib-info.txt -text
src/lib/midi/demo/MidiTest.dfm -text
src/lib/midi/demo/Project1.res -text
src/lib/midi/midiComp.dpk -text
src/lib/midi/midiComp.res -text
src/lib/projectM/cwrapper/projectM-cwrapper.sln -text
src/lib/projectM/cwrapper/projectM-cwrapper.vcproj -text
src/macosx/Info.plist -text
src/menu/UMenuBackground.pas -text
src/menu/UMenuBackgroundColor.pas -text
src/menu/UMenuBackgroundFade.pas -text
src/menu/UMenuBackgroundNone.pas -text
src/menu/UMenuBackgroundTexture.pas -text
src/menu/UMenuBackgroundVideo.pas -text
test/test001.pas -text
tools/ScoreConverter/ScoreConverter.ico -text
tools/ScoreConverter/ScoreConverter.res -text
tools/ScoreConverter/Umainform.dfm -text
