* text=auto !eol
Game/Code/Classes/TextGL.pas -text
Game/Code/Classes/UCatCovers.pas -text
Game/Code/Classes/UCovers.pas -text
Game/Code/Classes/UDLLManager.pas -text
Game/Code/Classes/UDataBase.pas -text
Game/Code/Classes/UDraw.pas -text
Game/Code/Classes/UFiles.pas -text
Game/Code/Classes/UGraphic.pas -text
Game/Code/Classes/UGraphicClasses.pas -text
Game/Code/Classes/UIni.pas -text
Game/Code/Classes/UJoystick.pas -text
Game/Code/Classes/ULCD.pas -text
Game/Code/Classes/ULanguage.pas -text
Game/Code/Classes/ULight.pas -text
Game/Code/Classes/ULog.pas -text
Game/Code/Classes/ULyrics.pas -text
Game/Code/Classes/UMain.pas -text
Game/Code/Classes/UMusic.pas -text
Game/Code/Classes/UParty.pas -text
Game/Code/Classes/UPlaylist.pas -text
Game/Code/Classes/UPliki.pas -text
Game/Code/Classes/URecord.pas -text
Game/Code/Classes/USkins.pas -text
Game/Code/Classes/USongs.pas -text
Game/Code/Classes/UTexture.pas -text
Game/Code/Classes/UThemes.pas -text
Game/Code/Classes/UTime.pas -text
Game/Code/Menu/UDisplay.pas -text
Game/Code/Menu/UDrawTexture.pas -text
Game/Code/Menu/UMenu.pas -text
Game/Code/Menu/UMenuButton.pas -text
Game/Code/Menu/UMenuInteract.pas -text
Game/Code/Menu/UMenuSelect.pas -text
Game/Code/Menu/UMenuSelectSlide.pas -text
Game/Code/Menu/UMenuStatic.pas -text
Game/Code/Menu/UMenuText.pas -text
Game/Code/SMpeg/USmpeg.pas -text
Game/Code/Screens/UScreenEdit.pas -text
Game/Code/Screens/UScreenEditConvert.pas -text
Game/Code/Screens/UScreenEditHeader.pas -text
Game/Code/Screens/UScreenEditSub.pas -text
Game/Code/Screens/UScreenLevel.pas -text
Game/Code/Screens/UScreenLoading.pas -text
Game/Code/Screens/UScreenMain.pas -text
Game/Code/Screens/UScreenName.pas -text
Game/Code/Screens/UScreenOpen.pas -text
Game/Code/Screens/UScreenOptions.pas -text
Game/Code/Screens/UScreenOptionsGame.pas -text
Game/Code/Screens/UScreenOptionsGraphics.pas -text
Game/Code/Screens/UScreenOptionsLyrics.pas -text
Game/Code/Screens/UScreenOptionsRecord.pas -text
Game/Code/Screens/UScreenOptionsSound.pas -text
Game/Code/Screens/UScreenOptionsThemes.pas -text
Game/Code/Screens/UScreenPartyNewRound.pas -text
Game/Code/Screens/UScreenPartyOptions.pas -text
Game/Code/Screens/UScreenPartyPlayer.pas -text
Game/Code/Screens/UScreenPartyScore.pas -text
Game/Code/Screens/UScreenPartyWin.pas -text
Game/Code/Screens/UScreenScore.pas -text
Game/Code/Screens/UScreenSing.pas -text
Game/Code/Screens/UScreenSingModi.pas -text
Game/Code/Screens/UScreenSong.pas -text
Game/Code/Screens/UScreenSongJumpto.pas -text
Game/Code/Screens/UScreenSongMenu.pas -text
Game/Code/Screens/UScreenTop5.pas -text
Game/Code/Screens/UScreenWelcome.pas -text
Game/Code/UltraStar.dpr -text
Game/Code/UltraStar.rc -text
Game/Code/rccompillieren.bat -text
Game/Fonts/Bold/Font[!!-~]1024[!!-~]Bold[!!-~]16.png -text
Game/Fonts/Bold/Font[!!-~]1024[!!-~]Bold.dat -text
Game/Fonts/Bold/eurostar_regular_bold.dat -text
Game/Fonts/Bold/eurostar_regular_bold.png -text
Game/Fonts/Normal/Font[!!-~]Normal[!!-~]16.png -text
Game/Fonts/Normal/Font[!!-~]Normal.dat -text
Game/Fonts/Normal/eurostar_regular.dat -text
Game/Fonts/Normal/eurostar_regular.png -text
Game/Fonts/Outline[!!-~]1/Outline[!!-~]36[!!-~](1024)[!!-~]16c.png -text
Game/Fonts/Outline[!!-~]1/Outline[!!-~]36[!!-~](1024).dat -text
Game/Fonts/Outline[!!-~]2/5[!!-~]-[!!-~]Outline[!!-~]Dark[!!-~]Edited[!!-~]16c.PNG -text
Game/Fonts/Outline[!!-~]2/Outline.dat -text
Game/Graphics/us.ico -text
Game/Graphics/ustar-icon_v01.ico -text
Languages/Catalan.ini -text
Languages/Croatian.ini -text
Languages/Czech.ini -text
Languages/Dutch.ini -text
Languages/English.ini -text
Languages/Finnish.ini -text
Languages/French.ini -text
Languages/Galego.ini -text
Languages/German.ini -text
Languages/Italian.ini -text
Languages/Lithuanian.ini -text
Languages/Polish.ini -text
Languages/Portuguese.ini -text
Languages/Spanish.ini -text
Languages/Swedish.ini -text
Languages/Turkish.ini -text
Languages/readme.txt -text
Modis/5000Points/Until5000.dpr -text
Modis/Blind/Blind.dpr -text
Modis/Don't_Get_Worse/Hold_The_Line.dpr -text
Modis/Duell/Duell.dpr -text
Modis/SDK/ModiSDK.pas -text
Modis/SDK/StrUtils.pas -text
ScoreConverter/ScoreConverter.dpr -text
ScoreConverter/ScoreConverter.ico -text
ScoreConverter/ScoreConverter.res -text
ScoreConverter/ToDo.txt -text
ScoreConverter/UScores.pas -text
ScoreConverter/USongs.pas -text
ScoreConverter/Umainform.dfm -text
ScoreConverter/Umainform.pas -text
Skins/Classic/Ball3.bmp -text
Skins/Classic/Bar.jpg -text
Skins/Classic/Button.jpg -text
Skins/Classic/Button3.jpg -text
Skins/Classic/Left[!!-~]gray.bmp -text
Skins/Classic/Line[!!-~]Bonus[!!-~]PopUp.JPG -text
Skins/Classic/Line.jpg -text
Skins/Classic/Main[!!-~]Bar.jpg -text
Skins/Classic/Main[!!-~]Bar2.jpg -text
Skins/Classic/Main[!!-~]Cursor.jpg -text
Skins/Classic/Main[!!-~]Exit.jpg -text
Skins/Classic/Main[!!-~]Heart.jpg -text
Skins/Classic/Main[!!-~]Multi.jpg -text
Skins/Classic/Main[!!-~]Options.jpg -text
Skins/Classic/Main[!!-~]Solo.jpg -text
Skins/Classic/Mid[!!-~]gray.bmp -text
Skins/Classic/Note[!!-~]BG[!!-~]Left.bmp -text
Skins/Classic/Note[!!-~]BG[!!-~]Mid.bmp -text
Skins/Classic/Note[!!-~]BG[!!-~]Right.bmp -text
Skins/Classic/Note[!!-~]Star.jpg -text
Skins/Classic/NotePerfectStar.jpg -text
Skins/Classic/P.jpg -text
Skins/Classic/Pointer.bmp -text
Skins/Classic/Right[!!-~]gray.bmp -text
Skins/Classic/Score[!!-~]Box.jpg -text
Skins/Classic/Score[!!-~]Level[!!-~]Round.jpg -text
Skins/Classic/Score[!!-~]Level.jpg -text
Skins/Classic/Score[!!-~]Line.jpg -text
Skins/Classic/Sing[!!-~]Bar[!!-~]Back.jpg -text
Skins/Classic/Sing[!!-~]Bar[!!-~]Bar.jpg -text
Skins/Classic/Sing[!!-~]Bar[!!-~]Front.jpg -text
Skins/Classic/Sing[!!-~]Score[!!-~]BG.jpg -text
Skins/Classic/Song[!!-~]Cover.jpg -text
Skins/Classic/Song[!!-~]Fade.jpg -text
Skins/Classic/Song[!!-~]Selection.jpg -text
Skins/Classic/Square.jpg -text
Skins/Classic/Standard.ini -text
Skins/Classic/Text[!!-~]Bar.jpg -text
Skins/Deluxe/Ball3.bmp -text
Skins/Deluxe/Bar.jpg -text
Skins/Deluxe/Blue.ini -text
Skins/Deluxe/Blue.jpg -text
Skins/Deluxe/Button.jpg -text
Skins/Deluxe/Buttonf.jpg -text
Skins/Deluxe/Left[!!-~]gray.bmp -text
Skins/Deluxe/Line[!!-~]Bonus[!!-~]PopUp.JPG -text
Skins/Deluxe/Line.jpg -text
Skins/Deluxe/LoadingBackground.jpg -text
Skins/Deluxe/Main[!!-~]Bar.jpg -text
Skins/Deluxe/MainBG_Blue.jpg -text
Skins/Deluxe/MainBG_W&C.jpg -text
Skins/Deluxe/Mid[!!-~]gray.bmp -text
Skins/Deluxe/Note[!!-~]BG[!!-~]Left.bmp -text
Skins/Deluxe/Note[!!-~]BG[!!-~]Mid.bmp -text
Skins/Deluxe/Note[!!-~]BG[!!-~]Right.bmp -text
Skins/Deluxe/Note[!!-~]Star.jpg -text
Skins/Deluxe/NotePerfectStar.jpg -text
Skins/Deluxe/P.jpg -text
Skins/Deluxe/Pointer.bmp -text
Skins/Deluxe/Right[!!-~]gray.bmp -text
Skins/Deluxe/Score[!!-~]Box.jpg -text
Skins/Deluxe/Score[!!-~]Level[!!-~]Round.jpg -text
Skins/Deluxe/Score[!!-~]Level.jpg -text
Skins/Deluxe/Score[!!-~]Line.jpg -text
Skins/Deluxe/Sing[!!-~]Bar[!!-~]Back.jpg -text
Skins/Deluxe/Sing[!!-~]Bar[!!-~]Bar.jpg -text
Skins/Deluxe/Sing[!!-~]Bar[!!-~]Front.jpg -text
Skins/Deluxe/Sing[!!-~]Score[!!-~]BG.jpg -text
Skins/Deluxe/Song[!!-~]Cover.jpg -text
Skins/Deluxe/Song[!!-~]Fade.jpg -text
Skins/Deluxe/Song[!!-~]Selection.jpg -text
Skins/Deluxe/Song[!!-~]Selection1.jpg -text
Skins/Deluxe/Song[!!-~]Selection2.jpg -text
Skins/Deluxe/SongMenuBG.jpg -text
Skins/Deluxe/Square.jpg -text
Skins/Deluxe/Text[!!-~]Bar.jpg -text
Skins/Deluxe/W&C.ini -text
Skins/Deluxe/W&C.jpg -text
Skins/Deluxe/\[icon\]options.jpg -text
Skins/Deluxe/button_alt.jpg -text
Skins/Deluxe/button_az.jpg -text
Skins/Deluxe/button_j.jpg -text
Skins/Deluxe/button_m.jpg -text
Skins/Deluxe/cd.jpg -text
Skins/Deluxe/jump_to_background.jpg -text
Skins/Deluxe/leiste1.jpg -text
Skins/Deluxe/leiste2.jpg -text
Skins/Deluxe/mainicon.jpg -text
Skins/Deluxe/mainsearch.jpg -text
Themes/Classic.ini -text
Themes/Deluxe.ini -text
