Modis/Blind/Blind.cfg
Modis/Blind/Blind.dll
Modis/Blind/Blind.dof
Modis/Blind/Blind.~dpr
Modis/Duell/Duell.cfg
Modis/Duell/Duell.dof
Modis/Duell/Duell.~dpr
Tools/ScoreConverter/ScoreConverter.cfg
Tools/ScoreConverter/ScoreConverter.dof
Tools/ScoreConverter/ScoreConverter.exe
Tools/ScoreConverter/ScoreConverter.~dpr
Tools/ScoreConverter/UBrowseDialog.~pas
Tools/ScoreConverter/UScores.dcu
Tools/ScoreConverter/USongs.dcu
Tools/ScoreConverter/USongs.~pas
Tools/ScoreConverter/Umainform.dcu
Tools/ScoreConverter/Umainform.~dfm
Tools/ScoreConverter/Umainform.~pas
Tools/ScoreConverter/sqlite3.dll
src/MacOSX/build
src/Menu/*.dcu
src/UltraStar.cfg
src/UltraStar.dof
src/UltraStar.~dpr
src/classes/*.dcu
src/classes/__history
src/lib/ffmpeg/*.dylib
src/lib/ffmpeg/src/MacOSX/ffmpeg
src/screens/*.dcu
