unicode/Makefile
unicode/UltraStarDeluxe.app
unicode/config.log
unicode/config.status
unicode/link.res
unicode/plugins/Blind/Blind.cfg
unicode/plugins/Blind/Blind.dll
unicode/plugins/Blind/Blind.dof
unicode/plugins/Blind/Blind.~dpr
unicode/plugins/Duell/Duell.cfg
unicode/plugins/Duell/Duell.dof
unicode/plugins/Duell/Duell.~dpr
unicode/ppaslink.sh
unicode/src/Makefile
unicode/src/base/*.dcu
unicode/src/base/__history
unicode/src/lib/ffmpeg/*.dylib
unicode/src/lib/ffmpeg/src/MacOSX/ffmpeg
unicode/src/macosx/build
unicode/src/menu/*.dcu
unicode/src/paths.inc
unicode/src/screens/*.dcu
unicode/tools/ScoreConverter/ScoreConverter.cfg
unicode/tools/ScoreConverter/ScoreConverter.dof
unicode/tools/ScoreConverter/ScoreConverter.exe
unicode/tools/ScoreConverter/ScoreConverter.~dpr
unicode/tools/ScoreConverter/UBrowseDialog.~pas
unicode/tools/ScoreConverter/UScores.dcu
unicode/tools/ScoreConverter/USongs.dcu
unicode/tools/ScoreConverter/USongs.~pas
unicode/tools/ScoreConverter/Umainform.dcu
unicode/tools/ScoreConverter/Umainform.~dfm
unicode/tools/ScoreConverter/Umainform.~pas
unicode/tools/ScoreConverter/sqlite3.dll
